main {
  background-color: rgba(250, 235, 215, .9);
  padding: 1em;
}


body {

  background-image: url("https://files.slack.com/files-pri/TFUPYFZGE-FHNHGPQPQ/dnd_starter_art.jpg");
}

#banner img {
  width: 100%;
}

#banner {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align-last: center;
}

nav ul{
  list-style: none;
  padding-left: 0;

}

nav a {
  display: inline-block;
  text-decoration: underline;
  border: 2px solid #4f3434;
  padding: 1em;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: #fff
  text-decoration: none;
  background-size: cover;

}

nav a:focus,
nav a:active {
  color: #fff;
}

a {
  color: #4f3434;
}

@media (min-width: 60em) {

  nav li {
    display: inline;
  }

  nav a{
    display: inline-block;
  }
}

img {
  padding: .5em;
  grid-row: 1 / span 2;
}
